# incluso da builder.sh
# la DIR_BASE e` definita in builder.sh

DATA=`date +'%Y%m%d'`
ORA=`date +'%H%M%S'`
TIMESTAMP="$DATA-$ORA"

DIR_BIN="$DIR_BASE/bin"
DIR_LOG="$DIR_BASE/log"
DIR_CONF="$DIR_BASE/conf"

FILE_APPS="$DIR_CONF/applicazioni.txt"
FILE_LOG="$DIR_LOG/$DATA.log"
FILE_PID="$DIR_BASE/appctl.pid"

DIR_UPBASE=`dirname "$DIR_BASE"`
BIN_BUILDCTL="$DIR_UPBASE/buildctl/buildctl"
BIN_TOMCATCTL="$DIR_UPBASE/tomcatctl/tomcatctl"

if [ -x "$BIN_BUILDCTL" ]
then
	echo "impossibile eseguire [$BIN_BUILDCTL]"
	exit 1
fi

if [ -x "$BIN_TOMCATCTL" ]
then
	echo "impossibile eseguire [$BIN_TOMCATCTL]"
	exit 1
fi


if uname | grep -i "cygwin" > /dev/null
then
	OS="cygwin"
else
	OS="altro"
fi


echolog()
{
	logmesg="`date +'%Y%m%d.%H%M%S'` >>> $1"
	echo "$logmesg"
	echo "$logmesg" >> "$FILE_LOG"
}
